@model Thss0.Web.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>
<a href="~/Home/Index" class="btn border mb-2">Back</a>
<form asp-controller="Account" asp-action="Login" asp-antiforgery="true" class="w-25">
    <div asp-validation-summary="ModelOnly"></div>

    @Html.ValidationMessageFor(acnt => acnt.Name)
    @Html.TextBoxFor(acnt => acnt.Name, new { @class = "form-control mb-1", @placeholder="Name" })

    @Html.ValidationMessageFor(acnt => acnt.Password)
    @Html.TextBoxFor(acnt => acnt.Password, new { @type = "password", @class = "form-control mb-1", placeholder = "Password" })

    <button type="submit" class="btn border">Submit</button>
</form>